@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "toastr";
@import 'jquery-ui';
@import 'dataTables/src/demo_table_jui';

// tr.odd {
//     background-color: #ececec;
// }
// tr.odd td.sorting_1 {
//     background-color: #ececec;
// }
// tr.even td.sorting_1 {
//     background-color: #ffffff;
// }
//
// .bordered-table {
//     border: 1px solid #ddd;
//     border-collapse: separate;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     border-radius: 4px;
// }

body {
  background-color: #e4e4e4;
}

.btn-primary {
  background-color: #49b0d6;
}

.navbar-default {
  background-color: #49b0d6;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.statut {
    height: 70px;
    border: solid 1px;
    border-color: #49b0d6;
}

.background-container {
  background-color: #fff;
}

.title {
  font-size: 18px;
}

.data-send {
  border: solid 1px;
  border-color: #49b0d6;
}

.icon-statut {
  height: 20px;
  width: 20px;
  margin-left: 25%;
}

.photo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.photo-home {
  height: 30px;
  width: 30px;
}

.photo-campaign {
  height: 200px;
  width: 200px;
  border: solid 5px;
  border-color: #49b0d6;
}

.statut-type {

}

.info-pharma {
  font-size: 20px;
}
